<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:websocket="http://www.springframework.org/schema/websocket"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/websocket http://www.springframework.org/schema/websocket/spring-websocket.xsd">
    <!--扫描包中的注解-->
    <context:component-scan base-package="com.controller"/>
    <context:component-scan base-package="com.dao"/>
    <context:component-scan base-package="com.service"/>



    <!-- 静态资源(js、image等)的访问 -->
    <mvc:default-servlet-handler/>

    <!-- spring-websocket配置start-->
    <bean id="websocket" class="com.controller.web.ChatHandler" />
    <websocket:handlers>
        <websocket:mapping path="/websocket" handler="websocket" />
        <websocket:handshake-interceptors>
            <bean class="com.websocket.util.HandshakeInterceptor" />
        </websocket:handshake-interceptors>
    </websocket:handlers>
    <!-- spring-websocket配置end-->

    <!-- 开启注解 -->
    <mvc:annotation-driven/>
    <mvc:resources mapping="/img/**" location="/img/" />
    <mvc:resources mapping="/jsp/**" location="/jsp/" />
    <mvc:resources mapping="/common/**" location="/WEB-INF/jsp/common/" />
    <mvc:resources mapping="/upload/**" location="/WEB-INF/upload/" />
    <!--ViewResolver 视图解析器-->
    <!--用于支持Servlet、JSP视图解析-->
    <bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- SpringMVC上传文件时，需要配置MultipartResolver处理器 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"/>
        <!-- 指定所上传文件的总大小不能超过200KB(200000)。注意maxUploadSize属性的限制不是针对单个文件，而是所有文件的容量之和 -->
        <property name="maxUploadSize" value="2000000"/>
    </bean>

</beans>